# Flask and Web Server
Flask>=2.0.0
gunicorn>=20.0.0

# Database
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.0
alembic
asyncpg
pgvector

# Google Cloud
google-cloud-storage
cloud-sql-python-connector[psycopg2]
pydantic

# Document Processing
PyMuPDF

# Development Tools
ruff